{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block nav_blog_active %}
    active
{% endblock %}

{% load staticfiles %}
{% block herder_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="clo-xs-10 col-xs-offset-1">
                <h4>{{ blog.title }}</h4>
                <ul class="blog-info-description">
                    <li>作者:{{ blog.author }}</li>
                    <li>发表日期:{{ blog.created_time|date:"Y-m-d G:i:s"}}</li>    <!-- 过滤器 处理时间展示 2022年5月25日 20:47-->
                    <li>博客类型:<a href="{% url 'Blog_with_type' blog.blog_type.id %}">{{ blog.blog_type }}</a></li>
                    <li>阅读次数({{ blog.get_read_num }})</li>

                </ul>

                <div class="blog-content">{{ blog.content|safe }}</div>

                <div class="blog-more">
                        {% if previous_blog %}
                            <a href="{% url 'Blog_detail' previous_blog.id %}">
                                <button type="button" class="btn btn-default" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true">上一篇:{{ previous_blog.title }}</span>
                                </button>
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-menu-left" aria-hidden="true">当前为首篇</span>
                            </button>
                        {% endif %}

                        {% if  next_blog %}
                            <a href="{% url 'Blog_detail' next_blog.id %}">
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true">下一篇:{{ next_blog.title }}</span>
                            </button>
                            </a>
                        {% else %}
                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                <span class="glyphicon glyphicon-menu-right" aria-hidden="true">当前为最后一篇</span>
                            </button>
                        {% endif %}
                </div>
                <div>
                    <a href="{% url 'Blog_list' %}">
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-menu-left" aria-hidden="true">返回上一页</span>
                        </button>
                    </a>
                    <a href="{% url 'home' %}">
                        <button type="button" class="btn btn-default btn-lg">
                            <span class="glyphicon glyphicon-home" aria-hidden="true">返回首页</span>
                        </button>
                    </a>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="clo-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id = 'comment_form' action="{% url 'Update_comment' %}" method="POST" style="overflow: hidden">
                            <label for="comment_text">{{ user.username }}欢迎评论～</label>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                {{ field|safe }}
                            {% endfor %}
                            <span id="comment_error" class="text-danger pull-left"></span>
                            <input type="submit" value="评论" class="btn btn-primary pull-right" >

                        </form>
                    {% else %}
                        您未登录，登陆后方可评论
                        <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                        <span> or </span>
                        <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                        <h1></h1>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment_list">
                         {% for comment in comments %}
                            <div>
                                {{ comment.user.username }}
                                ({{  comment.comment_time|date:"Y-m-d G:i:s" }}):
                                {{ comment.text|safe }}
                            </div>
                         {% empty %}
                            暂无评论
                         {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function (){
                //判断是否为空
                $("#comment_error").text('');
                if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                    $("#comment_error").text('评论内容不能为空');
                    return false;
                }
                //更新数据到textarea里面
                CKEDITOR.instances['id_text'].updateElement();
                //异步提交
                $.ajax({
                    url : "{% url 'Update_comment' %}",
                    type : "POST",
                    data : $(this).serialize(),
                    cache : false,
                    success : function (data){
                        console.log(data);
                        if(data['status']=="SUCCESS"){
                            //插入数据
                            var comment_html = '<div>' + data['username'] + ' (' + data['comment_time'] + ')：' + data['text'] + '</div>';
                            $("#comment_list").prepend(comment_html);
                            //清空编辑框的内容
                            CKEDITOR.instances['id_text'].setData('');
                        }
                        else {
                            //显示错误信息
                            $("#comment_error").text(data['message']);
                        }

                    },
                    error : function (xhr) {
                        console.log(xhr);
                    }
                });
                return false;
            }
        );

    </script>


{% endblock %}